* {
    transition: all 0.2s;
}

body {
    height: 100vh;
    margin: 0;
    font-family: 'Bree Serif', serif;
    background: rgb(247, 247, 247);
}

.menuContainer {
    display: flex;
    align-items: center;
}

.defaultMapTitle, .workshopMapTitle {
    margin-top: 0.5rem;
    margin-bottom : 0;
}

.workshopMapTitle {
    margin-bottom: 1rem;
}

.defaultInfosFolder {
    font-size: 0.8rem;
    margin-top: .2rem;
}

.mainTitle {
    text-align: center;
    padding-top: .5rem;
    height: 10vh;
    margin-bottom : 0;
    margin-top : 0;
}

.menuSplit {
    width: 48.5%;
    border: 1px solid rgb(202, 202, 202);
    box-shadow: 0px 0px 5px rgb(196, 196, 196);
    background: rgb(255, 255, 255);
    margin-left: 0.5rem;
    height: 25vh;
    padding-left: 0.5rem;
    position: relative;
    overflow-wrap: break-word;
    margin-bottom: 0.5rem;
    border-radius: 5px;
}

.menuSplit:nth-child(2) {
    margin-right: 0.5rem;
}

.bottomPath {
    width: 95%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    margin-bottom : 1rem;
    word-break: break-all;
}

.path {
    margin-top : 0;
    margin-bottom : 0;
    font-size: 0.9rem;
}

.pathR {
    color: rgb(226, 74, 74);
}

.pathG {
    color: rgb(35, 136, 44);
}

.workshopListContainer, .workshopListContainerEmpty {
    border: 1px solid rgb(202, 202, 202);
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(196, 196, 196);
    background: rgb(255, 255, 255);
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    height: 51vh;
}

.workshopListContainer {
    overflow-y: auto;
}

.workshopItem {
    word-break: break-all;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top : 1rem;
    padding-bottom : 1rem;
    border-bottom: 1px solid rgb(202, 202, 202);
    cursor: pointer;
}

.workshopItem p {
    margin : 0;
}

.workshopItem:hover {
    background: rgb(211, 211, 211);
}

.workshopItem:hover p {
    letter-spacing: 2px;
}

.workshopListContainerEmpty {
    display: flex;
    justify-content: center;
    align-items: center;
}

.workshopListEmpty {
    letter-spacing: 4px;;
    color: rgb(226, 74, 74);
}

.actionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.actionContainer span {
    color: white;
    margin-left: 1rem;
    border-radius: 5px;
    height: 4vh;
    padding: 0.5rem 1rem;
}

.btnApply {
    cursor: pointer;
    border: 1px solid #5a9271;
    border-bottom: 4px solid #537e65;
    background: #5dac64;
}

.btnApplyDisabled {
    cursor: not-allowed;
    opacity: 0.6;
    border: 1px solid #5a9271;
    border-bottom: 4px solid #537e65;
    background: #5dac64;
}

.btnDefault {
    cursor: pointer;
    border: 1px solid #466e99;
    border-bottom: 4px solid #3f5c7a;
    background: #5F8DBD;
}

.btnDefaultDisabled {
    cursor: not-allowed;
    opacity: 0.6;
    border: 1px solid #466e99;
    border-bottom: 4px solid #3f5c7a;
    background: #5F8DBD;
}
