.RLContainer {
    position :relative;
    height: 97vh;
    width: 100%;
}

body {
    margin: 0;
    font-family: 'Bree Serif', serif;
    background: rgb(247, 247, 247);
}

.topInfosContainer {
    left: 0;
    position: absolute;
    margin-left: 0.5rem;
}

.statusContainer, .mapContainer {
    display: flex;
}

.statusContainer p {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin: 0;
    font-size: 0.9rem;
}

.mapContainer p {
    color: rgb(103, 66, 172);
    margin: 0;
    font-size: 0.8rem;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
}

.statusLabel {
    padding-left: 0.25rem;
}

.statusValue {
    margin-left: 0.3rem;
    padding-right: 0.25rem;
}

.menuContainer {
    display: flex;
    align-items: center;
}

.defaultMapTitle, .workshopMapTitle {
    margin-top: 0.5rem;
    margin-bottom : 0;
}

.workshopMapTitle {
    margin-bottom: 1rem;
}

.defaultInfosFolder {
    font-size: 0.8rem;
    margin-top: .2rem;
}

.mainTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainTitle h1 {
    padding-top: .5rem;
    padding-bottom: 0.5rem;
    margin: 0;
}

.menuSplit {
    width: 48.5%;
    border: 1px solid rgb(202, 202, 202);
    box-shadow: 0px 0px 5px rgb(196, 196, 196);
    background: rgb(255, 255, 255);
    margin-left: 0.5rem;
    height: 25vh;
    max-height: 175px;
    padding-left: 0.5rem;
    position: relative;
    overflow-wrap: break-word;
    margin-bottom: 0.5rem;
    border-radius: 5px;
}

.menuSplit:nth-child(2) {
    margin-right: 0.5rem;
}

.bottomPath {
    width: 95%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    margin-bottom : 1rem;
    word-break: break-all;
}

.path {
    margin-top : 0;
    margin-bottom : 0;
    font-size: 0.9rem;
}

.pathR {
    color: rgb(226, 74, 74);
}

.pathG {
    color: rgb(35, 136, 44);
}

.workshopListContainer, .workshopListContainerEmpty {
    border-radius: 5px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    height: 49vh;
}

.workshopList {
    height: 97%;
    border: 1px solid rgb(202, 202, 202);
    border-top-style: hidden;
    box-shadow: 0px 0px 5px rgb(196, 196, 196);
    background: rgb(255, 255, 255);
    overflow-y: auto;
}

.workshopListContainer h4 {
    color: white;
    font-weight: lighter;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    letter-spacing: 2px;
    text-align: center;
    margin: 0;
    border-bottom: 1px solid rgb(202, 202, 202);
    background: #427baf;
}

.workshopItem {
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0);
    word-break: break-all;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top : 0.5rem;
    padding-bottom : 0.5rem;
    border-bottom: 1px solid rgb(202, 202, 202);
    cursor: pointer;
    transition: all 0.2s;
}

.workshopItem img {
    margin-right: 1rem;
    max-width: 3rem;
    max-height: 3rem;
    height: 3rem;
    width: auto;
}

.workshopItem.active {
    transition: all 0.2s;
    color: #114c16;
    border: 1px solid #75a187 !important;
    background: #98d39c !important;
    letter-spacing: 2px !important;
}

.workshopItem p {
    margin : 0;
}

.workshopItem:hover {
    transition: all 0.2s;
    color: #29442b;
    border: 1px solid #75a187;
    background: #d4fad7;
    letter-spacing: 2px;
}

.workshopListContainerEmpty {
    display: flex;
    justify-content: center;
    align-items: center;
}

.workshopListEmpty {
    letter-spacing: 4px;;
    color: rgb(226, 74, 74);
}

.actionContainer {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
    margin-top: 1.5rem;
}

.actionContainer span {
    color: white;
    margin-left: 1rem;
    border-radius: 5px;
    max-height: 40px;
    padding: 0.5rem 1rem;
}

.btnApply {
    transition: all 0.2s;
    cursor: pointer;
    border: 1px solid #5a9271;
    border-bottom: 4px solid #537e65;
    background: #5dac64;
}

.btnApplyDisabled {
    transition: all 0.2s;
    cursor: not-allowed;
    opacity: 0.6;
    border: 1px solid #5a9271;
    border-bottom: 4px solid #537e65;
    background: #5dac64;
}

.btnDefault {
    transition: all 0.2s;
    cursor: pointer;
    border: 1px solid #466e99;
    border-bottom: 4px solid #3f5c7a;
    background: #5F8DBD;
}

.btnDefaultDisabled {
    transition: all 0.2s;
    cursor: not-allowed;
    opacity: 0.6;
    border: 1px solid #466e99;
    border-bottom: 4px solid #3f5c7a;
    background: #5F8DBD;
}

.notifContainer {
    opacity: 0;
    transition: all 1s;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 0%;
    left: 50%;
    color :white;
}

.notifContainer.active {
    transition: all 1s;
    opacity: 1;
    top: 5%;
}

.title, .map {
    position: relative;
    left: -50%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.title {
    color: white;
    text-align: center;
    padding-top : 0.25rem;
    padding-bottom: 0.25rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.title.default {
    background: #65a1e0;
}

.title.apply {
    background: #45ad53;
}

.map {
    background: rgb(56, 56, 56);
    text-align: center;
    padding-bottom : 0.75rem;
    padding-top: 0.75rem;
    font-size: 0.9rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.notifContainer p {
    margin: 0;
}

@media screen and (min-height: 700px) {
    .workshopListContainer, .workshopListContainerEmpty {
        height: 55vh;
    }
}

@media screen and (min-height: 800px) {
    .workshopListContainer, .workshopListContainerEmpty {
        height: 60vh;
    }
}

@media screen and (min-height: 900px) {
    .workshopListContainer, .workshopListContainerEmpty {
        height: 64vh;
    }
}
